/* style.css */
body {
  font-family: sans-serif;
  text-align: center;
  padding: 1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 1em;
}
input {
  padding: 0.5em; font-size: 1em;
  width: 300px; max-width: 90vw; box-sizing: border-box;
}
button {
  padding: 0.5em 1em; font-size: 1em; cursor: pointer;
}
#map {
  height: 80vh;
  width: 100%; max-width: 1750px;
}
#stop-results {
  margin-top: 1em;
  width: 100%;
  max-width: 1750px;
  text-align: left;
}
#stop-results h2 {
  margin-top: 0;
}
.bus-option {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.bus-option:hover {
  background-color: #e0e0e0;
}

#stop-results .bus-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

#stop-results .bus-option span {
    padding: 0 0.25em; 
    font-weight: normal; 
}

#stop-results .bus-option .bus-option-linea {
    flex-basis: 25%; 
    min-width: 100px; 
    text-align: left;
    font-weight: bold;
}

#stop-results .bus-option .bus-option-hora {
    flex-basis: 40%; 
    min-width: 150px;
    text-align: center;
    font-weight: bold;
}

#stop-results .bus-option .bus-option-destino {
    flex-basis: 35%;
    min-width: 120px;
    text-align: right;
     font-weight: bold;
}

.delay-text-stop-list {
    font-size: 0.9em;
    font-style: italic;
    margin-left: 5px;
}
.delay-text-stop-list.delay {
    color: #d9534f; /* Rojo para retraso */
}
.delay-text-stop-list.advance {
    color: #5cb85c; /* Verde para adelanto */
}
.delay-text-stop-list.on-time { /* Para desviaciones leves */
    color: #f0ad4e; /* Naranja */
}


#route-details {
  margin-top: 1em;
  width: 100%;
  max-width: 1750px;
  text-align: left;
  border: 1px solid #ccc;
  padding: 1em;
  box-sizing: border-box;
}
#route-details ul {
  list-style-type: none;
  padding: 0;
}
#route-details li {
  margin-bottom: 0.2em;
  padding: 0.3em;
  border-bottom: 1px dashed #eee;
}
#route-details li:last-child {
    border-bottom: none;
}
.scheduled-time {
    font-weight: bold;
}
.estimated-time {
    color: #d9534f; 
    font-style: italic;
    margin-left: 5px;
}
.waypoint-icon { 
    margin-left: 5px;
    color: blue; 
    cursor: default; 
}